header.main {
  display: flex;
  color: white;
  /* 이미지를 배경으로 설정하기 */
  background-image: url("../../images/title.png");
  /* 이미지가 box 보다 작을경우 반복출력(repeat), 
    또는 그렇지 않기(no-repeat) : 이미지가 작을경우 box 전체에 이미지가 입혀지지 않는다 */
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
header.main div {
  padding: 1.2rem;
}
header.main div:nth-of-type(1) {
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
}
header.main div:nth-of-type(2) {
  flex: 6;
  text-align: center;
  margin-right: 100px;
}
header.main div:nth-of-type(3) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
header.main a:hover {
  color: blue;
  text-decoration: underline;
}
header.main img {
  border-radius: 50%;
}
