* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}

html {
  width: 100vw;
  height: 100vh;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  color: rgb(94, 94, 94);
}

header {
  background-color: rgb(52, 152, 219);
  color: white;
  padding: 1rem;
  text-align: center;
  text-shadow: 1px 1px 1px black;
}

nav {
  background-color: rgb(94, 94, 94);
  color: white;
  display: flex;
}

nav a {
  padding: 12px 16px 8px 16px;
  margin: 7px 7px 5px 7px;
  border-bottom: 3px solid transparent;
  transition: 0.7s;
}

nav a:first-of-type {
  margin-left: 10px;
}

nav a:last-of-type {
  margin-right: 10px;
}

nav a:nth-of-type(4),
nav a:nth-of-type(6) {
  margin-left: auto;
}

nav a:hover {
  border-bottom: 3px solid rgb(255, 230, 0);
}

section {
  display: flex;
  gap: 5px;
  flex: 1;
}

article {
  flex: 1;
  margin: 5px;
  border: 1px solid green;
}
article p {
  color: blue;
  font-weight: bold;
  padding: 5px;
}

footer {
  background-color: #ddd;
  text-align: center;
  padding: 0.7rem;
}

form {
  display: flex;
  flex: 1;
  border: 1px solid blue;
  margin: 5px;
  padding: 5px;
  justify-content: center;
  align-items: center;
}
fieldset {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid green;
  flex-direction: column;
  padding: 2rem;
  width: 60%;
}
form label {
  font-weight: bold;
  color: blue;
  text-align: right;
  padding: 8px;
  flex: 1;
}
form input {
  flex: 1;
  border-radius: 5px;
  outline: none;
  border: 1px solid black;
  padding: 8px;
  margin-left: 10px;
  width: 70%;
}

form input:hover {
  cursor: pointer;
  background-color: aliceblue;
}

form input:focus {
  border: 3px solid red;
}
form div {
  width: 90%;
  margin: 5px auto;
  display: flex;
  text-align: center;
  justify-content: center;
}

form button {
  margin: 10px;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
}

form button:nth-of-type(1) {
  background-color: blue;
}
form button:nth-of-type(2) {
  background-color: green;
}
form button:nth-of-type(3) {
  background-color: black;
}
